.App {
  text-align: center;
}

.container-parent {
  display: flex;
  position: absolute;
  width: 460.16px;
  height: 217.9px;
  left: 489.96px;
  top: 727.21px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.19) 100%
    ),
    #0a0c26;
  box-shadow: 0px 5.31272px 8.50035px rgba(0, 0, 0, 0.25);
  border-radius: 21.2509px;
  margin-left: 20px;
}

.container-child1 {
  display: flex;
  position: absolute;
  width: 204.94px;
  height: 217.9px;
  margin-left: 40px;
}

.container-child2 {
  position: absolute;
  width: 204.94px;
  height: 217.9px;
  margin-left: 254px;
  background: #0a0c26;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 5.31272px 8.50035px rgba(0, 0, 0, 0.25);
  border-radius: 21.2509px;
}

.hustle {
  position: absolute;
  font-family: Syncopate;
  margin-top: 20px;
  margin-left: 50px;
  height: 18px;
  width: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 17.0007px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}



.legend {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 128px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.23729px;
  color: #ffffff;
}

.list-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}



.list {
  position: absolute;
  display: flex table-row;
  width: 150px;
  height: 120px;
  top: 70px;
  left: 45px;
  justify-content: space-around;
  text-align: justify;
}

.col {
  display: flex;
  height: 1.5em;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

span {
  font-size: 12px;
  color: #ffffff;
  margin-left: 5px; 
}

.test {
  display: flex;
  width: 205px;
  height: 218px;
  background: #0a0c26;
  box-shadow: 0px 5.31272px 8.50035px rgba(0, 0, 0, 0.25);
  border-radius: 21.2509px;
}
