.App {
  text-align: center;
}


.container{
  display: flex;
  width: 460.16px;
  height: 213.64px;
  left: 488px;
  top: 502px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.19) 100%), #0A0C26;
  box-shadow: 0px 5.31272px 8.50035px rgba(0, 0, 0, 0.25);
  border-radius: 21.2509px;
  margin-left: 20px;
} 

.mood {
position: absolute;
width: 75.47px;
height: 18.07px;
left: 512.86px;
top: 523.74px;
font-family: Syncopate;
font-style: normal;
font-weight: bold;
font-size: 17.0007px;
line-height: 18px;
letter-spacing: 0.531272px;
text-transform: uppercase;
color: #0c0101;
}

